body {
	background: url("https://images.unsplash.com/photo-1567108485555-230071a08521?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80")
		center;
	background-color: $clr-black;
	overflow-x: hidden;
	object-fit: fill;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.bg-img-container {
	background-color: red;
	display: block;
	max-width: 870px;
	padding: 10px 0;
	background-image: url("../../../assets/bg-checker-dark.png");
}
