.header-container {
	flex-direction: column;
	border-radius: $border-radius;
	align-items: flex-end;
	.title-container {
		margin: 0 auto 5px 0;
		background-color: $clr-pink;
		border-radius: $border-radius;
		width: 100%;
		text-align: center;
	}
}
.header-inner-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 0 5px 0;
	.img-container {
		flex-basis: 55%;
		margin: 0 5px 0 0;
		background-color: $clr-teal;
		border-radius: $border-radius;
		padding: 5px;
		max-height: 338.15px;
	}
	img {
		border-radius: $border-radius;
		width: 100%;
		object-fit: cover;
	}
}

.shopping-container {
	width: 30rem;
	display: flex;
	flex-direction: column;
	background-color: $clr-light-blue;
	border-radius: $border-radius;
}
