// colors
$clr-black: #000000;
$clr-white: #ffffff;
$clr-teal: #6bbfaf;
$clr-pink: #ff00b8;
$clr-dark-pink: #a60078;
$clr-navy: #1d2226;
$clr-yellow: #febd0a;
$clr-light-blue: #c7eaed;
$clr-dark-blue: #61dafb;

// font family
$ff-primary: "Fasthand", cursive;
$ff-secondary: "Comfortaa", cursive;

// font weight
$fw-regular: 400;
$fw-bold: 700;

// font size (px)
$fs-800: 130;
$fs-775: 110;
$fs-750: 90;
$fs-725: 70;
$fs-700: 52;
$fs-650: 40;
$fs-600: 36;
$fs-550: 30;
$fs-500: 26;
$fs-400: 22;
$fs-300: 20;
$fs-200: 18;
$fs-100: 16;

// line height
$lh-200: 120;
$lh-100: 32;

// letter spacing
$ls-100: 1;

// paragraph spacing
$gap: 13px;

// border
$border-radius: 20px;

// box shadow
$box-shadow: 4px 4px 0 $clr-black;

// mobile wrapper width:
$mobile-width: 90%;
